<div class="panel profile">
  <div class="display-name"><%= user.display_name %></div>
  <div class="username">@<%= user.username %></div>
  <div class="row">
    <a href="<%= user_path(user.username) %>" class="col">
      <div>Posts</div>
      <div class="count"><%= user.posts_count %></div>
    </a>
    <a href="<%= following_path(user.username) %>" class="col">
        <div>Following</div>
        <div class="count"><%= user.following_count %></div>
    </a>
    <a href="<%= followers_path(user.username) %>" class="col">
      <div>Followers</div>
      <div class="count"><%= user.followers_count %></div>
    </a>
  </div>
  <% if current_user && user != current_user %>
    <% if !current_user.follow?(user) %>
      <%= form_tag follow_path(username: user.username), method: "post" do %>
        <%= submit_tag "Follow", class: "btn btn-outline-primary" %>
      <% end %>
    <% else%>
      <%= form_tag follow_path(username: user.username), method: "delete" do %>
        <%= submit_tag "Following", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
</div>
