<div class="panel profile">
  
  <% if user.profile_picture.attached? && user.profile_picture.variable? %>
    <%= image_tag(user.squared_profile_picture(120), class: "rounded mx-auto d-block") %>
  <% end %>
  
  <div class="display-name"><%= user.display_name %></div>
  <div class="username">@<%= user.username %></div>
  <div class="row">
    <a href="<%= user_path(user.username) %>" class="col">
      <div>Posts</div>
      <div class="count"><%= user.posts_count %></div>
    </a>
    <a href="<%= following_path(user.username) %>" class="col">
        <div>Following</div>
        <div class="count"><%= user.following_count %></div>
    </a>
    <a href="<%= followers_path(user.username) %>" class="col">
      <div>Followers</div>
      <div class="count"><%= user.followers_count %></div>
    </a>
  </div>
  <% if current_user && user != current_user %>
    <% if !current_user.follow?(user) %>
      <%= link_to "Follow", follow_path(username: user.username), method: "post", remote: true, class: "btn btn-outline-primary" %>
    <% else%>
      <%= link_to "Following", follow_path(username: user.username), method: "delete", remote: true, class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
