<div class="row">
  <div class="col-lg-1">
    <%= render partial: "panels/profile", locals: { user: current_user } %>
    <%= render partial: "panels/footer" %>
  </div>
  <div class="col-lg-2">
    <div class="panel timeline no-padding">
      <%= render partial: "new_post_form" %>
      <%= render partial: "reply_modal" %>
      <%= render partial: "repost_modal" %>
      <%= render partial: "thread_modal" %>
      <%= render partial: "post_row", collection: @posts, as: :post %>
    </div>
  </div>
</div>
