<div class="post-row">
  <div class="post-body">
    <div class="user">
      <a href="<%= user_path(username: post.username) %>">
        <img src="https://via.placeholder.com/50x50" width="50" height="50" class="profile-picture">
        <span class="display-name"><%= post.display_name %></span>
        <small class="username">@<%= post.username %></small>
      </a>
      &middot;
      <a href="#" class="created-at"><small><%= time_ago_in_words post.created_at %></small></a>
    </div>
    <%= simple_format(post.content, class: "content") %>
    <% unless post.media.empty? %>
      <div class="images">
        
      </div>
    <% end %>
    <div class="actions">
      <a href="#"><%= fa_icon "comment" %> Reply</a>
      <a href="#"><%= fa_icon "retweet" %> Repost</a>
      <a href="#"><%= fa_icon "heart" %> Like</a>
      <a href="#"><%= fa_icon "envelope" %> DM</a>
    </div>
  </div>
</div>
