<div class="user-row">
  <div class="post-body">
    <div class="user">
      <a href="<%= user_path(username: user.username) %>">
        <% if user.profile_picture&.attached? && user.profile_picture&.variable? %>
          <%= image_tag(user.squared_profile_picture(50), class: "profile-picture") %>
        <% else %>
          <div class="profile-picture"></div>
        <% end %>
        <span class="display-name"><%= user.display_name %></span>
        <small class="username">@<%= user.username %></small>
      </a>
      <% if controller.action_name != "followers" && current_user && user&.follow?(current_user) %>
        &middot;
        <span class="badge badge-pill badge-light">follows you</span>
      <% end %>
    </div>
    <%= simple_format(html_escape(user.bio).gsub(/\@([a-zA-Z0-9_]+)/, '<a href="/u/\1">@\1</a>'), class: "bio") %>
    <div class="actions text-right">
      <% if current_user && user != current_user %>
        <% if !current_user.follow?(user) %>
          <%= link_to "Follow", follow_path(username: user.username), method: "post", remote: true, class: "btn btn-outline-primary btn-sm" %>
        <% else%>
          <%= link_to "Following", follow_path(username: user.username), method: "delete", remote: true, class: "btn btn-primary btn-sm" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
