<!DOCTYPE html>
<html>
  <head>
    <title>{ Solfanto microblog }</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'navbar' %>
    <div class="container main">
      <%= render partial: 'flash_alerts' %>
      <%= yield %>
    </div>
    <div class="modals">
      <%= render partial: "reply_modal" %>
      <%= render partial: "repost_modal" %>
      <%= render partial: "thread_modal" %>
    </div>
  </body>
</html>
